<div class="container-fluid mt-3">
    <ngb-alert type="secondary" [dismissible]="false" *ngIf="!staticAlertClosed">
        Supports all formats as described on <a href="http://www.gravizo.com/">gravizo.com</a>.
        Semicolons are automatically added.
    </ngb-alert>

    <div class="row">
        <div class="col-12 col-lg-6">
            <textarea title="Graph description" [formControl]="graphBox" [(ngModel)]="graphDescription"
                      spellcheck="false" autocomplete="off" class="w-100" rows="10"> </textarea>
            <br>

            <form class="form-inline">
                <a class="btn btn-outline-primary" href='javascript:void(0)' (click)="downloadDescription()">
                    <span class="fa fa-download"></span>
                    Description
                </a>
                <a class="btn btn-outline-primary" [href]="imageUrl" download="graph.png">
                    <span class="fa fa-download"></span>
                    Image
                </a>
                <select name="fileType" class="custom-select" [(ngModel)]="fileType">
                    <option value="svg">SVG</option>
                    <option value="g">PNG</option>
                </select>

                <label class="custom-control custom-checkbox">
                    <input type="checkbox" name="originalSize" [(ngModel)]="originalSize" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Original size</span>
                </label>

                <input *ngIf="showLoad" class="form-control" [(ngModel)]="loadUrl" name="imageUrl" type="text"
                       placeholder="input image url.." #urlInput>
                <button *ngIf="showLoad" class="btn btn-primary" (click)="load()">Ok</button>
                <button *ngIf="showLoad" class="btn btn-outline-primary" (click)="showLoadUrl(false)">Cancel</button>
                <button *ngIf="!showLoad" class="btn btn-outline-primary" (click)="showLoadUrl(true)">Load..</button>
            </form>
        </div>

        <div class="col">
            <span class="loading-indicator badge" [class.badge-danger]="changed || loading" [class.badge-primary]="!changed && !loading">
                Synced: {{ !changed && !loading }}</span>
            <img #graphImage [src]="imageUrl" [class.w-100]="!originalSize" alt="graph loading.."/>
        </div>
    </div>
</div>

