form {
  a, select, input, button, label {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.loading-indicator {
  position: absolute !important;
  left:20px !important;
  top:10px !important;
}